<label for="passages_count">Number of passages</label><br>
<input type="number" form="create-workbook" name="passages-count" id="passages-count" value="4" min="1"><br><br>

<label for="questions_per_passage_count">Number of questions per passage</label><br>
<input type="number" form="create-workbook" name="questions-per-passage" id="questions-per-passage" value="10" min="1"><br><br>

<label for="topic-list">Topic list (Each line corresponds to one passage):</label><br>
<textarea id="topic-list" name="topic-list" form="create-workbook" placeholder="Enter topics here... (each line)"></textarea><br>