<!DOCTYPE HTML>

<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js">  </script>
</head>

<html>
  <body>
    <div id="body-box">

      <h1 style="font-family: 'Arial'; padding-left: 2%; padding-top: 2%;">{{section_type}} Models</h1>
      <div class="col-sm">
        <a href="/section?section_type={{section_type}}">Go Back</a>
      </div><br><br>
      <div id="main-section">
        <div id="#project-list" class="list" style="border-style: solid; border-color: greenyellow;">
          {% if models|length == 0%}
          <p id="empty-message">You currently have no models configured</p>
          {% else %}
            <div id="table-header">
              <div class="website-item-inner">
                <div class="website-item-child">
                  <p>Model Title</p>
                </div>
                <div class="website-item-child">
                  <p>Section Type</p>
                </div>
                <div class="website-item-child">
                  <p>Delete</p>
                </div>
              </div>
            </div>
            {% for model in models %}
              {% with model=model, model_index=loop.index %}
              <div class="website-item"><a href="/model/edit?model_index={{indices[model_index-1]}}" style="text-decoration: none; color:black">{% include "partials/model-item.html" %}</a></div>
              {% endwith %}
              {% if loop.index != models|length %}
              <hr class="solid">
              {% endif %}
            {% endfor %}
          {%endif%}
        </div>
      </div>
      <div class="outer-button-wrapper">
        <div class="button-wrapper">
          <form action="/model/create"class="button-wrapper" style="margin-top: 3%; text-align: center;" method="POST">
            <input type="hidden" name="section-type" value="{{section_type}}">
            <input type="submit" class="addButton"value="Add new model" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>